* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bubblegum Sans', cursive;
 }
  
 body {
  background-color: #530101;
  color: #F2CB05;
  overflow: hidden;
 }
  
 header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  padding: 20px;
  background-color: #0460D9;
  
 }
  
 header h1 {
  font-size: 50px;
 }
  
 .rules-box {
  position: relative;
  left: 300px;
  top: 50px;
  font-size: 25px;
  color: #D90404;
 }
  
 .rules-box p {
  width: 200px;
 }
  
 .select-difficulty {
  position: absolute;
  right: 250px;
  top: 150px;
  font-size: 30px;
 }
  
 .difficulty-hal-img {
  position: absolute;
  width: 60px;
  top: 210px;
  right: 380px;
 }
  
 .difficulty-hal-img:hover {
  transform: scale(1.1);
  transition: .5s;
 }
  
 .difficulty-t800-img {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 200px;
  right: 250px;
 }
  
 .difficulty-t800-img:hover {
  transform: scale(1.1);
  transition: .5s;
 }
  
 .classic-text {
  position: absolute;
  top: 280px;
  right: 400px;
 }
  
 .advanced-text {
  position: absolute;
  top: 280px;
  right: 250px;
 }
  
 .scoreboard {
  position: relative;
  font-size: 20px;
  width: 300px;
  border: 2px solid #F25E6B;
  margin: 10px auto;
  border-radius: 10px;
  text-align: center;
  padding: 15px 20px;
  top: -50px;
 }
  
 .scoreboard p, img {
  position: absolute;
  width: 30px;
  right: 30px;
  bottom: 10px;
 }
  
 .scoreboard .mini-user-emoji {
  font-size: 30px;
  left: 25px;
 }
  
 .player-label {
  position: absolute;
  top: 40px;
  /* left: 10px; */
  }
  
 .hal-label {
  position: absolute;
  top: 40px;
  right: 4px;
 }
  
  
 .scoreboard span {
  margin-right: 5px;
  font-size: 70px;
 }
  
 .hero-text {
  margin-top: 10px;
  font-size: 20px;
 }
  
 .choices, .hero-text{
  text-align: center;
 }
  
 .choices {
  padding: 50px;
  margin-top: -30px;
 }
  
 .img-btn {
  width: 190px;
  height: 180px;
  border: 5px solid #BF9004;
  border-radius: 50%;
  margin: 0 20px;
 }
  
 .img-btn:hover {
  transform: scale(1.1);
  transition: .5s;
 }
  
 .left-side-box, .right-side-box {
  position: absolute;
  height: 100vh;
  width: 150px;
  padding-top: 30px;
  text-align: center;
  font-size: 25px;
  border: 4px solid #0460D9;
  border-style: none solid none none;
 }
  
 .left-side-box {
   position: absolute;
  top: 80px;
  left: 20px;
 }
  
 .name-input {
  color: #0460D9;
  height: 30px;
  font-size: 13px;
  border-radius: 5px;
  background-color: #BF9004;
 }
  
  
 .select-emoji {
  position: absolute;
  top: 200px;
  left: 50px;
  font-size: 30px;
  background-color: #530101;
  border: none;
 }
  
 .right-side-box {
  right:0;
  border-style: none none none solid;
 }
 .right-side-box img {
  width: 100px;
  position:absolute;
  right: 20px;
  top: 100px;
 }
  
 .win-screen {
  position: absolute;
  text-align: center;
  font-size: 30px;
  bottom: 90px;
  left: 530px;
 }
  
 .player-choice {
  position: absolute;
  bottom: 150px;
  left: 400px;
  width: 190px;
  height: 180px;
  border: 5px solid #BF9004;
  border-radius: 50%;
 }
  
 .comp-choice {
  position: absolute;
  bottom: 150px;
  right: 450px;
  width: 190px;
  height: 180px;
  border: 5px solid #BF9004;
  border-radius: 50%;
 }
  
 .play-again-btn {
  position: absolute;
  color: #F2CB05;
  background-color: #BF9004;
  right: 300px;
  bottom: 200px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  cursor:pointer;
 }
  
 .hidden {
  display: none;
 }
 
 